@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  background-color: #1e2337;
}

.gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    #1e2337 3.31%,
    rgba(30, 35, 55, 0.99) 7.71%,
    rgba(30, 35, 55, 0.96) 12.11%,
    rgba(30, 35, 55, 0.91) 16.51%,
    rgba(30, 35, 55, 0.85) 20.91%,
    rgba(30, 35, 55, 0.76) 25.31%,
    rgba(30, 35, 55, 0.67) 29.71%,
    rgba(30, 35, 55, 0.55) 34.11%,
    rgba(30, 35, 55, 0.44) 38.52%,
    rgba(30, 35, 55, 0.33) 42.92%,
    rgba(30, 35, 55, 0.23) 47.32%,
    rgba(30, 35, 55, 0.15) 51.72%,
    rgba(30, 35, 55, 0.08) 56.12%,
    rgba(30, 35, 55, 0.03) 60.52%,
    rgba(30, 35, 55, 0.01) 64.92%,
    transparent 69.32%
  );
}

.gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    transparent 3.31%,
    rgba(30, 35, 55, 0.01) 7.71%,
    rgba(30, 35, 55, 0.03) 12.11%,
    rgba(30, 35, 55, 0.08) 16.51%,
    rgba(30, 35, 55, 0.1) 20.91%,
    rgba(30, 35, 55, 0.15) 25.31%,
    rgba(30, 35, 55, 0.21) 29.71%,
    rgba(30, 35, 55, 0.33) 34.11%,
    rgba(30, 35, 55, 0.55) 38.52%,
    rgba(30, 35, 55, 0.67) 42.92%,
    rgba(30, 35, 55, 0.76) 47.32%,
    rgba(30, 35, 55, 0.85) 51.72%,
    rgba(30, 35, 55, 0.91) 56.12%,
    rgba(30, 35, 55, 0.96) 60.52%,
    rgba(30, 35, 55, 0.99) 64.92%,
    #1e2337 70%
  );
}
